# streamlit
# numpy
# opencv-python
# Pillow
# tensorflow
# python-dotenv
# langchain-google-genai
# langchain-core


streamlit
numpy
Pillow
opencv-python==4.13.0
tensorflow==2.20.0
python-dotenv
langchain-google-genai
langchain-core